<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> 
         <li class="nav-item"> 
           <a href="/admin/orderDetail/index" class="nav-link"> 
             <i class="far fa-circle nav-icon"></i> 
             <p> Order Detail</p> 
           </a> 
         </li> 
         <li class="nav-item"> 
           <a href="/admin/product/index" class="nav-link"> 
             <i class="far fa-circle nav-icon"></i> 
             <p> Product</p> 
           </a> 
         </li> 
         <li class="nav-item"> 
           <a href="/admin/user/index" class="nav-link"> 
             <i class="far fa-circle nav-icon"></i> 
             <p> User</p> 
           </a> 
         </li> 
  </ul> 
 
            </ul>